.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    
}
.child{
    width: 25px;      
    height: 25px;
    border: 1px solid #ddd;
}
.child:hover{
    background-color: blue;
}
